/* Variables */
:root {
    --body-font: "Open Sans", sans-serif;
    --heading-font: "Montserrat", sans-serif;

    --primary-color: #692f6f;
    --secondary-color: #D91656;
    --neutral-bg: #f8f8f8;
    --neutral-primary: #692f6f;
    --white: #fff;
    --text-color: #2d2d2d;
    --error-color: #af0000;
    --message-success-color: #acda91;
    --message-info-color: #94c3dd;
    --message-error-color: #ff8b8b;

    --radius: 12px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: color .3s;
}

a:hover,
a:focus-visible {
    color: var(--primary-color);
}

img {
    max-width: 100%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

textarea {
    font-family: var(--body-font);
    font-size: 13px;
    padding: 5px 15px;
    width: 100%;
    height: 100px;
    resize: none;
}

/* Components */
/* Forms */
.btn {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: var(--radius);
    text-transform: capitalize;
    font-weight: 600;
    transition: all .3s;
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--secondary-color);
    color: var(--white);
}

/* Forms */
form .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form .form-row label {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 13px;
}

form .form-row + .form-row {
    margin-top: 15px;
}

form .form-row input[type="text"],
form .form-row input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 0 15px;
}

form .form-checkbox {
    display: inline-flex;
    align-items: center;
}

form .form-checkbox input {
    margin-right: 5px;
}

form .form-submit-btn {
    margin-top: 15px;
}

form .form-error {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    color: var(--error-color);
}

.message {
    padding: 12px;
    font-size: 12px;
    text-align: center;
}

.message-success {
    background-color: var(--message-success-color);
}

.message-info {
    background-color: var(--message-info-color);
}

.message-error {
    background-color: var(--message-error-color);
}

/* Global */
body {
    font-family: var(--body-font);
    color: var(--text-color);
}

/* Reusable Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 600;
}

.container {
    display: flex;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

header {
    padding: 15px 0;
    background-color: var(--neutral-bg);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    max-width: 150px;
}

header nav {
    margin: 0 60px 0 auto;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav li {
    margin-left: 30px;
}

header nav li a.active {
    font-weight: 500;
    color: var(--primary-color);
}

/* Authentication Pages */
.user-authentication {
    padding: 80px 0;
    text-align: left;
}

.user-authentication form {
    padding: 40px;
    margin: 0 auto;
    max-width: 400px;
    background: var(--neutral-bg);
    border-radius: var(--radius);
}

.user-authentication h2 {
    margin-bottom: 20px;
}

.user-authentication h4 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-authentication .form-questions {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.65;
}

.user-authentication .form-questions a {
    color: var(--primary-color);
    font-weight: 500px;
}

/* Forget Password Pages */

.forget-password {
    padding: 80px 0;
    text-align: center;
}

.forget-password h2 {
    margin-bottom: 20px;
}

.forget-password form {
    padding: 40px;
    margin: 0 auto;
    max-width: 400px;
    background: var(--neutral-bg);
    border-radius: var(--radius);
}

.forget-password .change-password-form {
    padding: 40px;
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    background: var(--neutral-bg);
    border-radius: var(--radius);
}

.forget-password .form-questions {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.65;
}

.forget-password .form-questions a {
    color: var(--primary-color);
    font-weight: 500px;
}

/* Contact Us */

.contact-us {
    padding: 80px 0;
    text-align: center;
}

.contact-us h2 {
    margin-bottom: 20px;
}

.contact-us form {
    padding: 40px;
    margin: 0 auto;
    max-width: 400px;
    background: var(--neutral-bg);
    border-radius: var(--radius);
}

.form-row-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    flex: 1;
}

/* Profile Page */
.profile {
    display: block;
    background-color: var(--neutral-bg);
    border-radius: var(--radius);
    height: max-content;
    width: 30%;
}

.profile-header {
    display: flex;
    padding: 20px 20px;
    align-items: center;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
}

.profile-text-container {
    line-height: 1;
}

.profile-title {
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
}

.profile-email, .profile-username {
    margin: 10px;
    font-size: small;
}

.menu {
    margin-left: 20px;
    margin-bottom: 20px;
}

.menu-link {
    display: block;
    margin-bottom: 10px;
    font-size: small;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
}

.menu i {
    margin-right: 10px;
}

.menu-link.active {
    background-color: var(--primary-color);
    color: white;
    width: 90%;
}

.user-info {
    padding: 0 20px;
    margin-left: 20px;
    width: 70%;
    background-color: var(--neutral-bg);
    border-radius: var(--radius);
    align-items: center;
}

.info-title {
    padding: 20px 0px;
}

.info-label {
    font-size: 15px;
    font-weight: 600;
}

.info-row {
    margin-bottom: 20px;
}

.info-email {
    margin-top: 5px;
    font-size: small;
}

.info-withdrawal {
    margin-top: 5px;
    font-size: small;
    font-weight: 600;
}

.user-info form {
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu-item-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--neutral-bg);
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    z-index: 1000;
    transform: translateX(30%);
}

.menu-item-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .menu-link {
    padding: 10px;
    display: block;
    white-space: nowrap;
}

.dropdown-menu .menu-link:hover {
    background-color: var(--primary-color);
    color: white;
}

.checkbox-info {
    margin-left: 5px;
}

.withdrawal-information {
    margin-bottom: 20px;
}

.select-cryptocurrency {
    width: 100%;
    height: 35px;
    padding: 10px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

/* Footer */
footer {
    background-color: var(--neutral-primary);
    color: var(--white);
    text-align: center;
    padding: 15px;
}