{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="forget-password">
    <div class="container">
        <form class="change-password-form" method="post" novalidate>
            {% csrf_token %}
            <h2>Change Password</h2>

            <div class="form-row">
                <label for="password">New Password *</label>
                <input type="password" id="password" name="password" placeholder="New Password" {% if form.password.value %}value="{{ form.password.value }}" {% endif %}>
                {% if form.password.errors %}
                <span class="form-error">{{ form.password.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="form-row">
                <label for="repassword">Confirm Password *</label>
                <input type="password" id="repassword" name="repassword" placeholder="Confirm Password" {% if form.repassword.value %}value="{{ form.repassword.value }}" {% endif %}>
                {% if form.repassword.errors %}
                <span class="form-error">{{ form.repassword.errors.0 }}</span>
                {% endif %}
            </div>

            <button class="btn form-submit-btn" type="submit">Send</button>

            <div class="form-questions">
                <p>Changed your mind? <a href="{% url 'home' %}">Go back</a>.</p>
            </div>
        </form>
    </div>
</section>
{% endblock %}