{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="login-container">
    <div class="left-side">
        <form class="login-form" method="post" novalidate>
            <div class="login-form-header">
                <h2>Forgot Password</h2>
            </div>
            <div class="login-form-question">
                <p>Changed your mind? <a href="{% url 'index' %}">Go back</a>.</p>
            </div>
            {% csrf_token %}

            <div class="form-row">
                <input type="hidden" name="email" value="{{ request.GET.email }}">
                <label for="password">One Time Password *</label>
                <input type="text" id="password" name="password" placeholder="One Time Password" {% if form.password.value %}value="{{ form.password.value }}" {% endif %}>
                {% if form.password.errors %}
                <span class="form-error">{{ form.password.errors.0 }}</span>
                {% endif %}
            </div>

            <button class="btn form-submit-btn" type="submit">Send</button>
        </form>
    </div>
    <div class="right-side">
        <img src="media/home/confirm-password-icon.png" alt="Confirm password icon">
    </div>
</div>
{% endblock %}