{% extends 'accounts/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <h2>Choose Method</h2>
    <form method="POST">
        {% csrf_token %}

        <div>
            <button type="submit" name="method" value="email">
                <i class="fas fa-envelope"></i> Reset via Email
            </button>
        </div>
        <div>
            <button type="submit" name="method" value="sms">
                <i class="fas fa-phone"></i> Reset via SMS
            </button>
        </div>
        <div>
            <button type="submit" name="method" value="voice">
                <i class="fas fa-volume-up"></i>Reset via Voice Message
            </button>
        </div>
    </form>
</div>

{% endblock %}