{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="forget-password">
    <div class="container">
        <form class="forget-password-form" method="POST">
            {% csrf_token %}
            <h2>Choose Method</h2>

            <div class="form-row">
                <button class="btn btn-form-submit" type="submit" name="method" value="email">
                    <i class="fas fa-envelope"></i> Reset via Email
                </button>
            </div>
            <div class="form-row">
                <button class="btn btn-form-submit" type="submit" name="method" value="sms">
                    <i class="fas fa-phone"></i> Reset via SMS
                </button>
            </div>
            <div class="form-row">
                <button class="btn btn-form-submit" type="submit" name="method" value="voice">
                    <i class="fas fa-volume-up"></i>Reset via Voice Message
                </button>
            </div>
            <div class="form-questions">
                <p>Changed your mind? <a href="{% url 'home' %}">Go back</a>.</p>
            </div>
        </form>
    </div>
</section>
{% endblock %}