{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="profile-header">
            <div class="profile-image-container">
                <img class="profile-image" src="{{ request.user.profile.basic_information.profile_image.image.url }}" alt="{{ request.user.profile.basicinformation.profileimage.alt }}">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}

                    <input type="file" id="profileimage" name="profileimage">

                    {% if form.profile_image.errors %}
                    <span class="form-error">{{ form.profile_image.errors.0 }}</span>
                    {% endif %}

                    <button class="btn form-submit-btn" type="submit">Upload</button>
                </form>
            </div>

            <div class="profile-info">

                {% if request.user.profile.basic_information.firstname and request.user.profile.basic_information.lastname %}
                <h1>{{ request.user.profile.basic_information.firstname }} {{ request.user.profile.basic_information.lastname }}</h1>
                {% endif %}

                <p>Job Position: {{ request.user.profile.employment_information.job_position.name }}</p>

                <p>Employment Status: {{ request.user.profile.employment_information.employment_status.name }}</p>

                <p>Contract: {{ request.user.profile.employment_information.contract.name }}</p>

                <p>Contract Started: {{ request.user.profile.employment_information.contract.start_date|date:'Y-m-d' }}</p>

                {% if request.user.profile.employment_information.contract.end_date %}
                <p>Contract Ended: {{ request.user.profile.employment_information.contract.end_date|date:'Y-m-d' }}</p>
                {% endif %}

                {% if request.user.profile.employment_information.contract.duration %}
                <p>Duration: {% if request.user.profile.employment_information.contract.duration.days == 0 %}{{ request.user.profile.employment_information.contract.duration.days }} days{% elif request.user.profile.employment_information.contract.duration.days == 1 %}{{ request.user.profile.employment_information.contract.duration.days }} day{% else %}{{ request.user.profile.employment_information.contract.duration.days }} days{% endif %}</p>
                {% endif %}

                <p>Salary: {{ request.user.profile.employment_information.contract.salary }}</p>

                {% if request.user.profile.employment_information.contract.work_hours_per_week %}
                <p>Working Hours per Week: {{ request.user.profile.employment_information.contract.work_hours_per_week }}</p>
                {% endif %}

            </div>
        </div>
        <div class="profile-details">
            <div class="user-info">
                <h2>User Settings</h2>

                <p>Identifier</p>
                <p>{{ request.user.username }}</p>

                <p>Date Joined</p>
                <p>{{ request.user.date_joined|date:'Y-m-d H:i' }}</p>

                <p>Email</p>
                <p>{{ request.user.email }}</p>

                {% if request.user.last_login %}
                <p>Last Login</p>
                <p>{{ request.user.last_login|date:'Y-m-d H:i' }}</p>
                {% endif %}

                <a href="{% url 'edit-user' %}"><button type="button" class="btn form-submit-btn">Edit</button></a>
            </div>
            <div class="profile-info">
                <h2>Profile Basic Settings</h2>

                <p>Firstname</p>
                <p>{{ request.user.profile.basic_information.firstname }}</p>

                <p>Lastname</p>
                <p>{{ request.user.profile.basic_information.lastname }}</p>

                <p>Date of Birth</p>
                <p>{{ request.user.profile.basic_information.date_of_birth|date:'Y-m-d' }}</p>

                <p>Biography</p>
                <p>{{ request.user.profile.basic_information.biography }}</p>

                <h2>Contact Basic Settings</h2>

                <p>Phone Number</p>
                <p>{{ request.user.profile.contact_information.phone_number }}</p>

                <p>Country</p>
                <p>{{ request.user.profile.contact_information.country }}</p>

                <p>Province</p>
                <p>{{ request.user.profile.contact_information.province }}</p>

                <p>City</p>
                <p>{{ request.user.profile.contact_information.city }}</p>

                <p>Postal Code</p>
                <p>{{ request.user.profile.contact_information.postal_code }}</p>

                <p>Street</p>
                <p>{{ request.user.profile.contact_information.street }}</p>

                <p>House Number</p>
                <p>{{ request.user.profile.contact_information.house_number }}</p>

                {% if request.user.profile.contact_information.apartment_number %}
                <p>Apartment Number</p>
                <p>{{ request.user.profile.contact_information.apartment_number }}</p>
                {% endif %}

                <a href="{% url 'edit-profile' %}"><button type="button" class="btn form-submit-btn">Edit</button></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
