{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <div>
        <!-- Profile Image Section -->
        <div>
            <img src="{{ request.user.profile.basicinformation.profileimage.image.url }}" alt="{{ request.user.profile.basicinformation.profileimage.alt }}">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <input type="file" id="profileimage" name="profileimage">
                {% if profileimage_update_form.profileimage.errors %}
                <ul>
                    {% for error in profileimage_update_form.profileimage.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button name="update-profile-image" type="submit">Upload</button>
            </form>
        </div>

        <!-- Basic Information Section -->
        <div>
            {% if request.user.profile.basicinformation.firstname and request.user.profile.basicinformation.lastname %}
            <h1>{{ request.user.profile.basicinformation.firstname }} {{ request.user.profile.basicinformation.lastname }}</h1>
            {% else %}
            <h1>{{ request.user.username }}</h1>
            {% endif %}
            <p>{{ request.user.profile.employmentinformation.usertype }}</p>
            <p>
                Employment Status: <span>{{ request.user.profile.employmentinformation.employmentstatus }}</span>
            </p>
            <div>
                <p>Date of Employment: <span>{{ request.user.profile.employmentinformation.dateofemployment|date:"Y-m-d" }}</span></p>
            </div>
        </div>

        <!-- Account Settings Section -->
        <div>
            <h2>Account Settings</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <div>
                    <h1>Update User Form Email -> {{ update_user_form.email }}</h1>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" {% if request.user.email %}value="{{ request.user.email }}"{% endif %}>
                    {% if update_user_form.email.errors %}
                    <ul>
                        {% for error in update_user_form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div>
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password">
                    {% if update_user_form.password.errors %}
                    <ul>
                        {% for error in update_user_form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div>
                    <label for="repassword">Confirm Password:</label>
                    <input type="password" id="repassword" name="repassword">
                    {% if update_user_form.repassword.errors %}
                    <ul>
                        {% for error in update_user_form.repassword.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                {% if update_user_form.non_field_errors %}
                <ul>
                    {% for error in update_user_form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <button name="update-user" type="submit">Update Account</button>
            </form>

        </div>

        <!-- Profile Details Section -->
        <div>
            <h2>Profile Details</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                <!-- Basic Information -->
                <div>
                    <h3>Basic Information</h3>
                    <div>
                        <label for="firstname">First Name:</label>
                        <input type="text" id="firstname" name="firstname" {% if request.user.profile.basicinformation.firstname %}value="{{ request.user.profile.basicinformation.firstname }}"{% endif %}>
                        {% if update_profile_form.firstname.errors %}
                        <ul>
                            {% for error in update_profile_form.firstname.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="lastname">Last Name:</label>
                        <input type="text" id="lastname" name="lastname" {% if request.user.profile.basicinformation.lastname %}value="{{ request.user.profile.basicinformation.lastname }}"{% endif %}>
                        {% if update_profile_form.lastname.errors %}
                        <ul>
                            {% for error in update_profile_form.lastname.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="dateofbirth">Date of Birth:</label>
                        <input type="text" id="dateofbirth" name="dateofbirth" {% if request.user.profile.basicinformation.dateofbirth %}value="{{ request.user.profile.basicinformation.dateofbirth|date:'Y-m-d' }}"{% endif %}>
                        {% if update_profile_form.dateofbirth.errors %}
                        <ul>
                            {% for error in update_profile_form.dateofbirth.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="biography">Biography:</label>
                        <textarea id="biography" name="biography" rows="4">{% if request.user.profile.basicinformation.biography %}{{ request.user.profile.basicinformation.biography }}{% endif %}</textarea>
                        {% if update_profile_form.biography.errors %}
                        <ul>
                            {% for error in update_profile_form.biography.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <!-- Contact Information -->
                <div>
                    <h3>Contact Information</h3>
                    <div>
                        <label for="phonenumber">Phone Number:</label>
                        <input type="text" id="phonenumber" name="phonenumber" {% if request.user.profile.contactinformation.phonenumber %}value="{{ request.user.profile.contactinformation.phonenumber }}"{% endif %}>
                        {% if update_profile_form.phonenumber.errors %}
                        <ul>
                            {% for error in update_profile_form.phonenumber.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="country">Country:</label>
                        <input type="text" id="country" name="country" {% if request.user.profile.contactinformation.country %}value="{{ request.user.profile.contactinformation.country }}"{% endif %}>
                        {% if update_profile_form.country.errors %}
                        <ul>
                            {% for error in update_profile_form.country.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="province">Province:</label>
                        <input type="text" id="province" name="province" {% if request.user.profile.contactinformation.province %}value="{{ request.user.profile.contactinformation.province }}"{% endif %}>
                        {% if update_profile_form.province.errors %}
                        <ul>
                            {% for error in update_profile_form.province.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="city">City:</label>
                        <input type="text" id="city" name="city" {% if request.user.profile.contactinformation.city %}value="{{ request.user.profile.contactinformation.city }}"{% endif %}>
                        {% if update_profile_form.city.errors %}
                        <ul>
                            {% for error in update_profile_form.city.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="street">Street:</label>
                        <input type="text" id="street" name="street" {% if request.user.profile.contactinformation.street %}value="{{ request.user.profile.contactinformation.street }}"{% endif %}>
                        {% if update_profile_form.street.errors %}
                        <ul>
                            {% for error in update_profile_form.street.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="housenumber">House Number:</label>
                        <input type="text" id="housenumber" name="housenumber" {% if request.user.profile.contactinformation.housenumber %}value="{{ request.user.profile.contactinformation.housenumber }}"{% endif %}>
                        {% if update_profile_form.housenumber.errors %}
                        <ul>
                            {% for error in update_profile_form.housenumber.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div>
                        <label for="apartmentnumber">Apartment Number (Optional):</label>
                        <input type="text" id="apartmentnumber" name="apartmentnumber" {% if request.user.profile.contactinformation.apartmentnumber %}value="{{ request.user.profile.contactinformation.apartmentnumber }}"{% endif %}>
                        {% if update_profile_form.apartmentnumber.errors %}
                        <ul>
                            {% for error in update_profile_form.apartmentnumber.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <button name="update-profile" type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
