{% extends 'base.html' %}
{% load static %}
{% load settings_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="user-authentication">
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <img class="profile-image" src="{{ basic_information.profile_image.image.url }}" alt="{{ basic_information.profile_image.alt }}">
                <div class="profile-text-container">
                    <h1 class="profile-title">{% if basic_information.firstname and basic_information.lastname %}{{ basic_information.firstname }} {{ basic_information.lastname }}{% else %}{{ user.username }}{% endif %}</h1>
                    <p class="profile-email">{{ user.email }}</p>
                    {% if contract.benefits.job_type %}
                    <p class="profile-email">{{ contract.benefits.job_type }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="menu">
                <a href="{% url 'settings' %}" class="menu-link {% if not request.GET %}active{% endif %}"><i class="fa-solid fa-circle-info"></i>General</a>
                <a href="?change-password" class="menu-link {% if 'change-password' in request.GET %}active{% endif %}"><i class="fa-solid fa-gear"></i>Change Password</a>
                <a href="?basic-information" class="menu-link {% if 'basic-information' in request.GET %}active{% endif %}"><i class="fa-solid fa-user"></i>Basic Information</a>
                <a href="?contact-information" class="menu-link {% if 'contact-information' in request.GET %}active{% endif %}"><i class="fa-solid fa-phone"></i>Contact Information</a>
                <div class="menu-item-dropdown">
                    <span class="menu-link dropdown-toggle {% if 'payment-information' in request.GET %}active{% endif %}">
                        <i class="fa-solid fa-credit-card"></i>Payment Information
                    </span>
                    <div class="dropdown-menu">
                        <a href="?payment-information&bank-transfer" class="menu-link">Bank Transfer</a>
                        <a href="?payment-information&prepaid-transfer" class="menu-link">Prepaid Transfer</a>
                        <a href="?payment-information&paypal-transfer" class="menu-link">PayPal Transfer</a>
                        <a href="?payment-information&crypto-transfer" class="menu-link">Crypto Transfer</a>
                    </div>
                </div>
                {% if benefits.salary_benefits.all or benefits.sport_benefits.all or benefits.health_benefits.all or benefits.insurance_benefits.all or development_benefits.all %}
                <a href="?benefits" class="menu-link {% if 'benefits' in request.GET %}active{% endif %}"><i class="fa-solid fa-briefcase"></i>Benefits</a>
                {% endif %}
                <a href="?invoices" class="menu-link {% if 'invoices' in request.GET %}active{% endif %}"><i class="fa-solid fa-file-invoice"></i>Invoices</a>
            </div>
        </div>

        <div class="user-info">

            {% if not request.GET %}
            <div class="info-header">
                <h1 class="info-title">Information</h1>
            </div>

            <div class="info-row">
                <label class="info-label">Username:</label>
                <p class="info-email">{{ user.username }}</p>
            </div>

            <div class="info-row">
                <label class="info-label">Email:</label>
                <p class="info-email">{{ user.email }}</p>
            </div>

            {% if contract.job_position.name %}
            <div class="info-row">
                <label class="info-label">Position:</label>
                <p class="info-email">{{ contract.job_position.name }}</p>
            </div>
            {% endif %}

            {% if contract.status.name %}
            <div class="info-row">
                <label class="info-label">Status:</label>
                <p class="info-email">{{ contract.status.name }}</p>
            </div>
            {% endif %}

            {% if contract.contract_type.name %}
            <div class="info-row">
                <label class="info-label">Contract:</label>
                <p class="info-email">{{ contract.contract_type.name }}</p>
            </div>
            {% endif %}

            {% if contract.salary %}
            <div class="info-row">
                <label class="info-label">Salary:</label>
                <p class="info-email">{{ contract.salary|floatformat:1 }}{% if contract.currency %} {{ contract.currency.name }}{% endif %}</p>
            </div>
            {% endif %}

            {% if contract.start_date %}
            <div class="info-row">
                <label class="info-label">Start Date:</label>
                <p class="info-email">{{ contract.start_date|date:'Y-m-d' }}</p>
            </div>
            {% endif %}

            {% if contract.end_date %}
            <div class="info-row">
                <label class="info-label">End Date:</label>
                <p class="info-email">{{ contract.end_date|date:'Y-m-d' }}</p>
            </div>

            <div class="info-row">
                <label class="info-label">Time Remaining:</label>
                <p class="info-email">{% if time_remaining == 0 %}{{ time_remaining }} days{% elif time_remaining == 1 %}{{ time_remaining }} day{% else %}{{ time_remaining }} days{% endif %}</p>
            </div>
            {% endif %}

            <div class="info-row">
                <label class="info-label">Withdrawal Method:</label>
                {% if contract.payment_method %}
                <p class="info-email">{{ contract.payment_method.name|cut_withdrawal_method }}</p>
                {% else %}
                <div class="withdrawal-information">
                    <p class="info-email">Set one of the most convenient payment methods for you. Otherwise, <strong>transfers to you will be suspended</strong>.</p>
                </div>
                <ul>
                    <li>
                        <a href="?payment-information&bank-transfer"><p class="info-withdrawal">Bank Transfer</p></a>
                    </li>
                    <li>
                        <a href="?payment-information&prepaid-transfer"><p class="info-withdrawal">Prepaid Transfer</p></a>
                    </li>
                    <li>
                        <a href="?payment-information&paypal-transfer"><p class="info-withdrawal">PayPal Transfer</p></a>
                    </li>
                    <li>
                        <a href="?payment-information&crypto-transfer"><p class="info-withdrawal">Crypto Transfer</p></a>
                    </li>
                </ul>
                {% endif %}
            </div>

            {% elif 'change-password' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <div class="info-header">
                    <h1 class="info-title">Change Password</h1>
                </div>
                <div class="form-row">
                    <label for="password" class="info-label">New Password</label>
                    <input type="password" id="password" name="password" placeholder="New Password">
                    {% if update_password_form.password.errors %}
                    {% for error in update_password_form.password.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="repassword" class="info-label">Confirm Password</label>
                    <input type="password" id="repassword" name="repassword" placeholder="Confirm Password">
                    {% if update_password_form.repassword.errors %}
                    {% for error in update_password_form.repassword.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="btn form-submit-btn" type="submit" name="change-password">Save</button>
            </form>
            {% elif 'basic-information' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <div class="info-header">
                    <h1 class="info-title">Basic Information</h1>
                </div>
                <div class="form-row">
                    <label for="firstname" class="info-label">Firstname *</label>
                    <input type="text" id="firstname" name="firstname" value="{% if update_basic_information_form.firstname.value %}{{ update_basic_information_form.firstname.value }}{% else %}{{ basic_information.firstname }}{% endif %}" placeholder="Firstname">
                    {% if update_basic_information_form.firstname.errors %}
                    {% for error in update_basic_information_form.firstname.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="lastname" class="info-label">Lastname *</label>
                    <input type="text" id="lastname" name="lastname" value="{% if update_basic_information_form.lastname.value %}{{ update_basic_information_form.lastname.value }}{% else %}{{ basic_information.lastname }}{% endif %}" placeholder="Lastname">
                    {% if update_basic_information_form.lastname.errors %}
                    {% for error in update_basic_information_form.lastname.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="date_of_birth" class="info-label">Date of Birth *</label>
                    <input type="text" id="date_of_birth" name="date_of_birth" value="{% if update_basic_information_form.date_of_birth.value %}{% if update_basic_information_form.date_of_birth.value != None %}{{ update_basic_information_form.date_of_birth.value }}{% endif %}{% else %}{% if basic_information.date_of_birth != None %}{{ basic_information.date_of_birth }}{% endif %}{% endif %}" placeholder="Date of Birth">
                    {% if update_basic_information_form.date_of_birth.errors %}
                    {% for error in update_basic_information_form.date_of_birth.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="biography">Biography</label>
                    <textarea id="biography" name="biography" placeholder="Biography">{% if update_basic_information_form.biography.value %}{% if update_basic_information_form.biography.value != None %}{{ update_basic_information_form.biography.value }}{% endif %}{% else %}{% if basic_information.biography != None %}{{ basic_information.biography }}{% endif %}{% endif %}</textarea>
                    {% if update_basic_information_form.biography.errors %}
                    {% for error in update_basic_information_form.biography.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="btn form-submit-btn" type="submit" name="basic-information">Save</button>
            </form>
            {% elif 'contact-information' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <div class="info-header">
                    <h1 class="info-title">Contact Information</h1>
                </div>
                <div class="form-row">
                    <label for="phone_number" class="info-label">Phone Number *</label>
                    <input type="text" id="phone_number" name="phone_number" value="{% if update_contact_information_form.phone_number.value %}{% if update_contact_information_form.phone_number.value != None %}{{ update_contact_information_form.phone_number.value }}{% endif %}{% else %}{% if contact_information.phone_number != None %}{{ contact_information.phone_number }}{% endif %}{% endif %}" placeholder="Phone Number">
                    {% if update_contact_information_form.phone_number.errors %}
                    {% for error in update_contact_information_form.phone_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="country" class="info-label">Country *</label>
                    <input type="text" id="country" name="country" value="{% if update_contact_information_form.country.value %}{% if update_contact_information_form.country.value != None %}{{ update_contact_information_form.country.value }}{% endif %}{% else %}{% if contact_information.country != None %}{{ contact_information.country }}{% endif %}{% endif %}" placeholder="Country">
                    {% if update_contact_information_form.country.errors %}
                    {% for error in update_contact_information_form.country.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="province" class="info-label">Province *</label>
                    <input type="text" id="province" name="province" value="{% if update_contact_information_form.province.value %}{% if update_contact_information_form.province.value != None %}{{ update_contact_information_form.province.value }}{% endif %}{% else %}{% if contact_information.province != None %}{{ contact_information.province }}{% endif %}{% endif %}" placeholder="Province">
                    {% if update_contact_information_form.province.errors %}
                    {% for error in update_contact_information_form.province.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="city" class="info-label">City *</label>
                    <input type="text" id="city" name="city" value="{% if update_contact_information_form.city.value %}{% if update_contact_information_form.city.value != None %}{{ update_contact_information_form.city.value }}{% endif %}{% else %}{% if contact_information.city != None %}{{ contact_information.city }}{% endif %}{% endif %}" placeholder="City">
                    {% if update_contact_information_form.city.errors %}
                    {% for error in update_contact_information_form.city.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="postal_code" class="info-label">Postal Code *</label>
                    <input type="text" id="postal_code" name="postal_code" value="{% if update_contact_information_form.postal_code.value %}{% if update_contact_information_form.postal_code.value != None %}{{ update_contact_information_form.postal_code.value }}{% endif %}{% else %}{% if contact_information.postal_code != None %}{{ contact_information.postal_code }}{% endif %}{% endif %}" placeholder="Postal Code">
                    {% if update_contact_information_form.postal_code.errors %}
                    {% for error in update_contact_information_form.postal_code.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="street" class="info-label">Street *</label>
                    <input type="text" id="street" name="street" value="{% if update_contact_information_form.street.value %}{% if update_contact_information_form.street.value != None %}{{ update_contact_information_form.street.value }}{% endif %}{% else %}{% if contact_information.street != None %}{{ contact_information.street }}{% endif %}{% endif %}" placeholder="Street">
                    {% if update_contact_information_form.street.errors %}
                    {% for error in update_contact_information_form.street.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="house_number" class="info-label">House Number *</label>
                    <input type="text" id="house_number" name="house_number" value="{% if update_contact_information_form.house_number.value %}{% if update_contact_information_form.house_number.value != None %}{{ update_contact_information_form.house_number.value }}{% endif %}{% else %}{% if contact_information.house_number != None %}{{ contact_information.house_number }}{% endif %}{% endif %}" placeholder="House Number">
                    {% if update_contact_information_form.house_number.errors %}
                    {% for error in update_contact_information_form.house_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="apartment_number" class="info-label">Apartment Number</label>
                    <input type="text" id="apartment_number" name="apartment_number" value="{% if update_contact_information_form.apartment_number.value %}{% if update_contact_information_form.apartment_number.value != None %}{{ update_contact_information_form.apartment_number.value }}{% endif %}{% else %}{% if contact_information.apartment_number != None %}{{ contact_information.apartment_number }}{% endif %}{% endif %}" placeholder="Apartment Number">
                    {% if update_contact_information_form.apartment_number.errors %}
                    {% for error in update_contact_information_form.apartment_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="btn form-submit-btn" type="submit" name="contact-information">Save</button>
            </form>
            {% elif 'payment-information' in request.GET %}
            {% if 'bank-transfer' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <input type="hidden" name="payment-method" value="bank-transfer">

                <div class="info-header">
                    <h1 class="info-title">Bank Transfer</h1>
                </div>
                <div class="form-row">
                    <label for="bank_name" class="info-label">Bank Name *</label>
                    <input type="text" id="bank_name" name="bank_name" placeholder="Bank Name" value="{% if update_bank_transfer_form.bank_name.value %}{{ update_bank_transfer_form.bank_name.value }}{% elif banktransfer.bank_name %}{{ banktransfer.bank_name }}{% else %}{% endif %}">
                    {% if update_bank_transfer_form.bank_name.errors %}
                    {% for error in update_bank_transfer_form.bank_name.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="iban" class="info-label">IBAN *</label>
                    <input type="text" id="iban" name="iban" placeholder="IBAN" value="{% if update_bank_transfer_form.iban.value %}{{ update_bank_transfer_form.iban.value }}{% elif banktransfer.iban %}{{ banktransfer.iban }}{% else %}{% endif %}">
                    {% if update_bank_transfer_form.iban.errors %}
                    {% for error in update_bank_transfer_form.iban.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="swift" class="info-label">SWIFT *</label>
                    <input type="text" id="swift" name="swift" placeholder="SWIFT" value="{% if update_bank_transfer_form.swift.value %}{{ update_bank_transfer_form.swift.value }}{% elif banktransfer.swift %}{{ banktransfer.swift }}{% else %}{% endif %}">
                    {% if update_bank_transfer_form.swift.errors %}
                    {% for error in update_bank_transfer_form.swift.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="account_number" class="info-label">Account Number *</label>
                    <input type="text" id="account_number" name="account_number" placeholder="Account Number" value="{% if update_bank_transfer_form.account_number.value %}{{ update_bank_transfer_form.account_number.value }}{% elif banktransfer.account_number %}{{ banktransfer.account_number }}{% else %}{% endif %}">
                    {% if update_bank_transfer_form.account_number.errors %}
                    {% for error in update_bank_transfer_form.account_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="save_method" style="display: flex;">
                        <input type="checkbox" id="save_method" name="save_method" {% if contract.payment_method.banktransfer %}checked{% endif %}>
                        <div class="checkbox-info">
                            <span class="checkbox-text">Save this payment method as new.</span>
                        </div>
                    </label>
                </div>
                <button class="btn form-submit-btn" type="submit" name="payment-information">Save</button>
            </form>
            {% elif 'prepaid-transfer' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <input type="hidden" name="payment-method" value="prepaid-transfer">

                <div class="info-header">
                    <h1 class="info-title">Prepaid Transfer</h1>
                </div>
                <div class="form-row">
                    <label for="owner_name" class="info-label">Cardholder's Name *</label>
                    <input type="text" id="owner_name" name="owner_name" placeholder="Cardholder's Name" value="{% if update_prepaid_transfer_form.owner_name.value %}{{ update_prepaid_transfer_form.owner_name.value }}{% elif prepaidtransfer.owner_name %}{{ prepaidtransfer.owner_name }}{% else %}{% endif %}">
                    {% if update_prepaid_transfer_form.owner_name.errors %}
                    {% for error in update_prepaid_transfer_form.owner_name.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="card_number" class="info-label">Card Number *</label>
                    <input type="text" id="card_number" name="card_number" placeholder="Card Number" value="{% if update_prepaid_transfer_form.card_number.value %}{{ update_prepaid_transfer_form.card_number.value }}{% elif prepaidtransfer.card_number %}{{ prepaidtransfer.card_number }}{% else %}{% endif %}">
                    {% if update_prepaid_transfer_form.card_number.errors %}
                    {% for error in update_prepaid_transfer_form.card_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="expiration_date" class="info-label">Expiration Date *</label>
                    <input type="text" id="expiration_date" name="expiration_date" placeholder="Expiration Date" value="{% if update_prepaid_transfer_form.expiration_date.value %}{{ update_prepaid_transfer_form.expiration_date.value }}{% elif prepaidtransfer.expiration_date %}{{ prepaidtransfer.expiration_date }}{% else %}{% endif %}">
                    {% if update_prepaid_transfer_form.expiration_date.errors %}
                    {% for error in update_prepaid_transfer_form.expiration_date.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="save_method" style="display: flex;">
                        <input type="checkbox" id="save_method" name="save_method" {% if contract.payment_method.prepaidtransfer %}checked{% endif %}>
                        <div class="checkbox-info">
                            <span class="checkbox-text">Save this payment method as new.</span>
                        </div>
                    </label>
                </div>
                <button class="btn form-submit-btn" type="submit" name="payment-information">Save</button>
            </form>
            {% elif 'paypal-transfer' in request.GET %}
            <form method="post">
                {% csrf_token %}

                <input type="hidden" name="payment-method" value="paypal-transfer">

                <div class="info-header">
                    <h1 class="info-title">PayPal Transfer</h1>
                </div>
                <div class="form-row">
                    <label for="paypal_email" class="info-label">Email *</label>
                    <input type="text" id="paypal_email" name="paypal_email" placeholder="E-mail Address" value="{% if update_paypal_transfer_form.paypal_email.value %}{{ update_paypal_transfer_form.paypal_email.value }}{% elif paypaltransfer.paypal_email %}{{ paypaltransfer.paypal_email }}{% else %}{% endif %}">
                    {% if update_paypal_transfer_form.paypal_email.errors %}
                    {% for error in update_paypal_transfer_form.paypal_email.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="save_method" style="display: flex;">
                        <input type="checkbox" id="save_method" name="save_method" {% if contract.payment_method.paypaltransfer %}checked{% endif %}>
                        <div class="checkbox-info">
                            <span class="checkbox-text">Save this payment method as new.</span>
                        </div>
                    </label>
                </div>
                <button class="btn form-submit-btn" type="submit" name="payment-information">Save</button>
            </form>
            {% else %}
            <form method="post">
                {% csrf_token %}

                <input type="hidden" name="payment-method" value="crypto-transfer">

                <div class="info-header">
                    <h1 class="info-title">Crypto Transfer</h1>
                </div>
                <div class="form-row">
                    <label for="cryptocurrency" class="info-label">Cryptocurrency *</label>
                    <select id="cryptocurrency" name="cryptocurrency" class="select-cryptocurrency">
                        {% for cryptocurrency in cryptocurrencies %}
                            <option value="{{ cryptocurrency.code }}" {% if cryptocurrency.code == request.POST.cryptocurrency or cryptocurrency.code == cryptotransfer.cryptocurrency.code %}selected{% endif %}>{{ cryptocurrency.code }}</option>
                        {% endfor %}
                    </select>

                    {% if update_crypto_transfer_form.cryptocurrency.errors %}
                        {% for error in update_crypto_transfer_form.cryptocurrency.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="wallet_address" class="info-label">Wallet Address *</label>
                    <input type="text" id="wallet_address" name="wallet_address" placeholder="Wallet Address" value="{% if update_crypto_transfer_form.wallet_address.value %}{{ update_crypto_transfer_form.wallet_address.value }}{% elif cryptotransfer.wallet_address %}{{ cryptotransfer.wallet_address }}{% else %}{% endif %}">
                    {% if update_crypto_transfer_form.wallet_address.errors %}
                    {% for error in update_crypto_transfer_form.wallet_address.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-row">
                    <label for="save_method" style="display: flex;">
                        <input type="checkbox" id="save_method" name="save_method" {% if contract.payment_method.cryptotransfer %}checked{% endif %}>
                        <div class="checkbox-info">
                            <span class="checkbox-text">Save this payment method as new.</span>
                        </div>
                    </label>
                </div>
                <button class="btn form-submit-btn" type="submit" name="payment-information">Save</button>
            </form>
            {% endif %}
            {% elif 'benefits' in request.GET %}
            <div class="info-header">
                <h1 class="info-title">Benefits</h1>
            </div>
            {% if benefits.salary_benefits.all %}
            <div class="info-row">
                <label class="info-label">Salary Benefits:</label>
                {% for benefit in benefits.salary_benefits.all %}
                <p class="info-email">Awarded: {{ benefit.date_of_award|date:'Y-m-d' }}</p>
                <p class="info-email">Amount: {{ benefit.amount|floatformat:1 }} {{ contract.currency.name }}</p>
                <p class="info-email">Period: {{ benefit.period.name }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if benefits.sport_benefits.all %}
            <div class="info-row">
                <label class="info-label">Sport Benefits:</label>
                {% for benefit in benefits.sport_benefits.all %}
                <p class="info-email">{{ benefit.name }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if benefits.health_benefits.all %}
            <div class="info-row">
                <label class="info-label">Health Benefits:</label>
                {% for benefit in benefits.health_benefits.all %}
                <p class="info-email">{{ benefit.name }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if benefits.insurance_benefits.all %}
            <div class="info-row">
                <label class="info-label">Insurance Benefits:</label>
                {% for benefit in benefits.insurance_benefits.all %}
                <p class="info-email">{{ benefit.name }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% if benefits.development_benefits.all %}
            <div class="info-row">
                <label class="info-label">Development Benefits:</label>
                {% for benefit in benefits.development_benefits.all %}
                <p class="info-email">{{ benefit.name }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% elif 'invoices' in request.GET %}
            <div class="info-header">
                <h1 class="info-title">Invoices</h1>
            </div>
            <div class="info-row">
                <label class="info-label">Username:</label>
                <p class="info-email">{{ user.username }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
