{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <div>
        <h2>User Information</h2>
    </div>
    <div class="form-row">
        <label for="email" class="info-label">Email</label>
        <input type="text" id="email" name="email" placeholder="Email Address">
        {% if register_form.email.errors %}
        {% for error in register_form.email.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-row">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
        {% if register_form.password.errors %}
        {% for error in register_form.password.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-row">
        <label for="repassword">Confirm Password</label>
        <input type="password" id="repassword" name="repassword" placeholder="Confirm Password">
        {% if register_form.repassword.errors %}
        {% for error in register_form.repassword.errors %}
        <span class="form-error">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <button type="submit" class="btn btn-summit-btn">Next</button>
</form>
{% endblock %}