{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="app">
    {% include 'aside.html' %}
    <div class="main">
        {% include 'header.html' %}
        <div class="content">
            {% if 'employees' in request.GET %}
            {% include 'core/employees.html' %}
            {% elif 'register-employee' in request.GET %}
            {% include 'core/register-employee.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}