{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class="content">
    {% if not request.GET %}
    <h1 class="content-header">
        Employees
    </h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Contract</th>
            <th>Position</th>
            <th>Time Remaining</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Invoices</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.profile.basic_information.firstname }} {{ employee.profile.basic_information.lastname }}</td>
            <td>{% if employee.profile.contract.contract_type %}{{ employee.profile.contract.contract_type }}{% else %}-{% endif %}</td>
            <td>{% if employee.profile.contract.job_position %}{{ employee.profile.contract.job_position }}{% else %}-{% endif %}</td>
            <td>{% if employee.profile.contract.time_remaining %}{{ employee.profile.contract.time_remaining.days }} days{% else %}-{% endif %}</td>
            <td>{% if employee.profile.contract.salary %}{{ employee.profile.contract.salary }} {{ employee.profile.contract.currency }}{% else %}-{% endif %}</td>
            <td>{% if employee.profile.contract.status %}{{ employee.profile.contract.status }}{% else %}-{% endif %}</td>
            <td>{{ employee.profile.contract.invoices.count }}</td>
            <td class="table-buttons">
                <a href="?update-employee={{ employee.pk }}"><i class="fa-solid fa-user-pen"></i></a>
                <a href="{% url 'delete-employee' employee.pk %}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% if 'register-employee' in request.GET %}
    {% include 'employees/register-employee.html' %}
    {% elif 'update-employee' in request.GET %}
    {% include 'employees/update-employee.html' %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}