<input type="checkbox" id="toggle-filters" class="toggle-filters">
<label for="toggle-filters" class="filter-button">
    Filters <i class="fa-solid fa-filter"></i>
</label>

<div class="content-filters">
    <form method="get" class="filter-forms-content">
        {% if request.GET.order %}
        <input type="hidden" name="order" value="{{ request.GET.order }}">
        {% endif %}

        <div class="employee-filter-form">
            <p>Contract Type</p>

            <div class="form-element">
                {% for contract_type in contract_types %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ contract_type.slug }}" name="contract_type" value="{{ contract_type.slug }}" {% if contract_type.slug in selected_contract_types %}checked{% endif %}>
                    <label for="{{ contract_type.slug }}">{{ contract_type.name }}</label>
                </div>
                {% endfor %}

                <div class="form-button">
                    <a href="{% url 'employees' %}">
                        <button type="submit" class="btn btn-submit-btn">Search</button>
                    </a>
                </div>

            </div>
        </div>

        <div class="employee-filter-form">
            <p>Job Type</p>

            <div class="form-element">
                {% for job_type in job_types %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ job_type.slug }}" name="job_type" value="{{ job_type.slug }}" {% if job_type.slug in selected_job_types %}checked{% endif %}>
                    <label for="{{ job_type.slug }}">{{ job_type.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="employee-filter-form">
            <p>Job Position</p>

            <div class="form-element">
                {% for job_position in job_positions %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ job_position.slug }}" name="job_position" value="{{ job_position.slug }}" {% if job_position.slug in selected_job_positions %}checked{% endif %}>
                    <label for="{{ job_position.slug }}">{{ job_position.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="employee-filter-form">
            <p>Currency</p>

            <div class="form-element">
                {% for currency in currencies %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ currency.slug }}" name="currency" value="{{ currency.slug }}" {% if currency.slug in selected_currencies %}checked{% endif %}>
                    <label for="{{ currency.slug }}">{{ currency.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="employee-filter-form">
            <p>Payment Frequency</p>

            <div class="form-element">
                {% for payment_frequency in payment_frequencies %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ payment_frequency.slug }}" name="payment_frequency" value="{{ payment_frequency.slug }}" {% if payment_frequency.slug in selected_payment_frequencies %}checked{% endif %}>
                    <label for="{{ payment_frequency.slug }}">{{ payment_frequency.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="employee-filter-form">
            <p>Employment Status</p>

            <div class="form-element">
                {% for employment_status in employment_statuses %}
                <div class="checkbox-group">
                    <input type="checkbox" id="{{ employment_status.slug }}" name="employment_status" value="{{ employment_status.slug }}" {% if employment_status.slug in selected_employment_statuses %}checked{% endif %}>
                    <label for="{{ employment_status.slug }}">{{ employment_status.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>