{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class="content">
    {% if not request.GET or request.GET.order %}
    <h1 class="content-header">
        {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ employees.count }} {% if employees.count == 0 %}Employees{% elif employees.count == 1 %}Employee{% else %}Employees{% endif %}

        <div class="employees-sort-form">
            <form method="get" action="{% url 'employees' %}" id="sortForm">
                <div class="employees-sort-form-select-option">
                    <span>Sort by</span>
                    <select name="order" id="sortSelect" onchange="this.form.submit()">
                        <option value="default" {% if request.GET.order == 'default' %}selected{% endif %}>Default</option>
                        <option value="hired-date" {% if request.GET.order == 'hired-date' %}selected{% endif %}>Hired Date</option>
                        <option value="salary" {% if request.GET.order == 'salary' %}selected{% endif %}>Salary</option>
                    </select>
                </div>
            </form>
            {% if request.user.is_staff %}
            <a href="{% url 'employees' %}?register-employee">
                <button type="submit" class="btn btn-submit">+ Add Employee</button>
            </a>
            {% endif %}
        </div>
    </h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Contract</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Status</th>
            <th>Invoices</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in employees %}
        <tr>
            <td>{{ obj.profile.basic_information.firstname }} {{ obj.profile.basic_information.lastname }}</td>
            <td>{% if obj.profile.contract.contract_type %}{{ obj.profile.contract.contract_type }}{% else %}-{% endif %}</td>
            <td>{% if obj.profile.contract.job_position %}{{ obj.profile.contract.job_position }}{% else %}-{% endif %}</td>
            <td>{% if obj.profile.contract.salary %}{{ obj.profile.contract.salary }} {{ employee.profile.contract.currency }}{% else %}-{% endif %}</td>
            <td>{% if obj.profile.contract.status %}{{ obj.profile.contract.status }}{% else %}-{% endif %}</td>
            <td>{{ obj.profile.contract.invoices.count }}</td>
            <td class="table-buttons">
                <a href="?update-employee={{ obj.pk }}"><i class="fa-solid fa-user-pen"></i></a>
                <a href="{% url 'delete-employee' obj.pk %}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% if 'register-employee' in request.GET %}
    {% include 'employees/register-employee.html' %}
    {% elif 'update-employee' in request.GET %}
    {% include 'employees/update-employee.html' %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}