{% load benefit_filters %}

<div class="register-content">
    <div class="form-group">
        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-section">
                <h2>User Details</h2>

                <div class="form-row">
                    <div class="form-info">
                        <label for="email" class="info-label">Email *</label>
                        <div class="form-input">
                            <input type="text" id="email" name="email" placeholder="Email Address" {% if register_form.email.value %}value="{{ register_form.email.value }}"{% elif employee and employee.email %}value="{{ employee.email }}"{% endif %}>
                        </div>
                    </div>

                    <small>{{ register_form.email.help_text }}</small>

                    {% if register_form.email.errors %}
                    {% for error in register_form.email.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="firstname" class="info-label">Firstname *</label>
                        <input type="text" id="firstname" name="firstname" placeholder="Firstname" {% if register_form.firstname.value %}value="{{ register_form.firstname.value }}"{% elif employee and employee.profile.basic_information.firstname %}value="{{ employee.profile.basic_information.firstname }}"{% endif %}>
                    </div>

                    <small>{{ register_form.firstname.help_text }}</small>

                    {% if register_form.firstname.errors %}
                    {% for error in register_form.firstname.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="lastname" class="info-label">Lastname *</label>
                        <input type="text" id="lastname" name="lastname" placeholder="Lastname" {% if register_form.lastname.value %}value="{{ register_form.lastname.value }}"{% elif employee and employee.profile.basic_information.lastname %}value="{{ employee.profile.basic_information.lastname }}"{% endif %}>
                    </div>

                    <small>{{ register_form.lastname.help_text }}</small>

                    {% if register_form.lastname.errors %}
                    {% for error in register_form.lastname.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="date_of_birth" class="info-label">Date of Birth *</label>
                        <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" {% if register_form.date_of_birth.value %}value="{{ register_form.date_of_birth.value }}"{% elif employee and employee.profile.basic_information.date_of_birth %}value="{{ employee.profile.basic_information.date_of_birth|date:'Y-m-d' }}"{% endif %}>
                    </div>

                    <small>{{ register_form.date_of_birth.help_text }}</small>

                    {% if register_form.date_of_birth.errors %}
                    {% for error in register_form.date_of_birth.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-section">
                <h2>Contact Details</h2>

                <div class="form-row">
                    <div class="form-info">
                        <label for="phone_number" class="info-label">Phone Number *</label>
                        <input type="text" id="phone_number" name="phone_number" placeholder="Phone Number" {% if register_form.phone_number.value %}value="{{ register_form.phone_number.value }}"{% elif employee and employee.profile.contact_information.phone_number %}value="{{ employee.profile.contact_information.phone_number }}"{% endif %}>
                    </div>

                    <small>{{ register_form.phone_number.help_text }}</small>

                    {% if register_form.phone_number.errors %}
                    {% for error in register_form.phone_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="country" class="info-label">Country *</label>
                        <input type="text" id="country" name="country" placeholder="Country" {% if register_form.country.value %}value="{{ register_form.country.value }}"{% elif employee and employee.profile.contact_information.country %}value="{{ employee.profile.contact_information.country }}"{% endif %}>
                    </div>

                    <small>{{ register_form.country.help_text }}</small>

                    {% if register_form.country.errors %}
                    {% for error in register_form.country.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="province" class="info-label">Province *</label>
                        <input type="text" id="province" name="province" placeholder="Province" {% if register_form.province.value %}value="{{ register_form.province.value }}"{% elif employee and employee.profile.contact_information.province %}value="{{ employee.profile.contact_information.province }}"{% endif %}>
                    </div>

                    <small>{{ register_form.province.help_text }}</small>

                    {% if register_form.province.errors %}
                    {% for error in register_form.province.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="city" class="info-label">City *</label>
                        <input type="text" id="city" name="city" placeholder="City" {% if register_form.city.value %}value="{{ register_form.city.value }}"{% elif employee and employee.profile.contact_information.city %}value="{{ employee.profile.contact_information.city }}"{% endif %}>
                    </div>

                    <small>{{ register_form.city.help_text }}</small>

                    {% if register_form.city.errors %}
                    {% for error in register_form.city.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="postal_code" class="info-label">Postal Code *</label>
                        <input type="text" id="postal_code" name="postal_code" placeholder="Postal Code" {% if register_form.postal_code.value %}value="{{ register_form.postal_code.value }}"{% elif employee and employee.profile.contact_information.postal_code %}value="{{ employee.profile.contact_information.postal_code }}"{% endif %}>
                    </div>

                    <small>{{ register_form.postal_code.help_text }}</small>

                    {% if register_form.postal_code.errors %}
                    {% for error in register_form.postal_code.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="street" class="info-label">Street *</label>
                        <input type="text" id="street" name="street" placeholder="Street" {% if register_form.street.value %}value="{{ register_form.street.value }}"{% elif employee and employee.profile.contact_information.street %}value="{{ employee.profile.contact_information.street }}"{% endif %}>
                    </div>

                    <small>{{ register_form.street.help_text }}</small>

                    {% if register_form.street.errors %}
                    {% for error in register_form.street.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="house_number" class="info-label">House Number *</label>
                        <input type="text" id="house_number" name="house_number" placeholder="House Number" {% if register_form.house_number.value %}value="{{ register_form.house_number.value }}"{% elif employee and employee.profile.contact_information.house_number %}value="{{ employee.profile.contact_information.house_number }}"{% endif %}>
                    </div>

                    <small>{{ register_form.house_number.help_text }}</small>

                    {% if register_form.house_number.errors %}
                    {% for error in register_form.house_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="apartment_number" class="info-label">Apartment Number</label>
                        <input type="text" id="apartment_number" name="apartment_number" placeholder="Apartment Number" {% if register_form.apartment_number.value %}value="{{ register_form.apartment_number.value }}"{% elif employee and employee.profile.contact_information.apartment_number %}value="{{ employee.profile.contact_information.apartment_number }}"{% endif %}>
                    </div>

                    <small>{{ register_form.apartment_number.help_text }}</small>

                    {% if register_form.apartment_number.errors %}
                    {% for error in register_form.apartment_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-section">
                <h2>Contract Details</h2>

                <div class="form-row">
                    <div class="form-info">
                        <label for="contract_type" class="info-label">Contract Type *</label>
                        {% if contract_types %}
                        <select id="contract_type" name="contract_type">
                            <option value="">-----</option>
                            {% for contract_type in contract_types %}
                            <option value="{{ contract_type.pk }}" {% if request.POST.contract_type == contract_type.pk|stringformat:'s' %}selected{% elif employee and employee.profile.contract.contract_type.pk == contract_type.pk %}selected{% endif %}>{{ contract_type }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <small>{{ register_form.contract_type.help_text }}</small>

                    {% if register_form.contract_type.errors %}
                    {% for error in register_form.contract_type.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="job_type" class="info-label">Job Type *</label>
                        {% if job_types %}
                        <select id="job_type" name="job_type">
                            <option value="">-----</option>
                            {% for job_type in job_types %}
                            <option value="{{ job_type.pk }}" {% if request.POST.job_type == job_type.pk|stringformat:'s' %}selected{% elif employee and employee.profile.contract.job_type.pk == job_type.pk %}selected{% endif %}>{{ job_type }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <small>{{ register_form.job_type.help_text }}</small>

                    {% if register_form.job_type.errors %}
                    {% for error in register_form.job_type.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="job_position" class="info-label">Job Position *</label>
                        {% if job_positions %}
                        <select id="job_position" name="job_position">
                            <option value="">-----</option>
                            {% for job_position in job_positions %}
                            <option value="{{ job_position.pk }}" {% if request.POST.job_position == job_position.pk|stringformat:'s' %}selected{% elif employee and employee.profile.contract.job_position.pk == job_position.pk %}selected{% endif %}>{{ job_position }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <small>{{ register_form.job_position.help_text }}</small>

                    {% if register_form.job_position.errors %}
                    {% for error in register_form.job_position.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="payment_frequency" class="info-label">Payment Frequency *</label>
                        {% if payment_frequencies %}
                        <select id="payment_frequency" name="payment_frequency">
                            <option value="">-----</option>
                            {% for payment_frequency in payment_frequencies %}
                            <option value="{{ payment_frequency.pk }}" {% if request.POST.payment_frequency == payment_frequency.pk|stringformat:'s' %}selected{% elif employee and employee.profile.contract.payment_frequency.pk == payment_frequency.pk %}selected{% endif %}>{{ payment_frequency }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <small>{{ register_form.payment_frequency.help_text }}</small>

                    {% if register_form.payment_frequency.errors %}
                    {% for error in register_form.payment_frequency.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="work_hours_per_week" class="info-label">Work Hours per Week</label>
                        <input type="text" id="work_hours_per_week" name="work_hours_per_week" placeholder="Work Hours per Week" {% if register_form.work_hours_per_week.value %}value="{{ register_form.work_hours_per_week.value }}"{% elif employee and employee.profile.contract.work_hours_per_week %}value="{{ employee.profile.contract.work_hours_per_week }}"{% endif %}>
                    </div>

                    <small>{{ register_form.work_hours_per_week.help_text }}</small>

                    {% if register_form.work_hours_per_week.errors %}
                    {% for error in register_form.work_hours_per_week.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="currency" class="info-label">Currency *</label>
                        {% if currencies %}
                        <select id="currency" name="currency">
                            <option value="">-----</option>
                            {% for currency in currencies %}
                            <option value="{{ currency.pk }}" {% if request.POST.currency == currency.pk|stringformat:'s' %}selected{% elif employee and employee.profile.contract.currency.pk == currency.pk %}selected{% endif %}>{{ currency }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>

                    <small>{{ register_form.currency.help_text }}</small>

                    {% if register_form.currency.errors %}
                    {% for error in register_form.currency.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="start_date" class="info-label">Start Date *</label>
                        <input type="text" id="start_date" name="start_date" placeholder="Start Date" {% if register_form.start_date.value %}value="{{ register_form.start_date.value }}"{% elif employee and employee.profile.contract.start_date %}value="{{ employee.profile.contract.start_date|date:'Y-m-d' }}"{% endif %}>
                    </div>

                    <small>{{ register_form.start_date.help_text }}</small>

                    {% if register_form.start_date.errors %}
                    {% for error in register_form.start_date.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="end_date" class="info-label">End Date</label>
                        <input type="text" id="end_date" name="end_date" placeholder="End Date" {% if register_form.end_date.value %}value="{{ register_form.end_date.value }}"{% elif employee and employee.profile.contract.end_date %}value="{{ employee.profile.contract.end_date|date:'Y-m-d' }}"{% endif %}>
                    </div>

                    <small>{{ register_form.end_date.help_text }}</small>

                    {% if register_form.end_date.errors %}
                    {% for error in register_form.end_date.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="salary" class="info-label">Salary *</label>
                        <input type="text" id="salary" name="salary" placeholder="Salary" {% if register_form.salary.value %}value="{{ register_form.salary.value }}"{% elif employee and employee.profile.contract.salary %}value="{{ employee.profile.contract.salary }}"{% endif %}>
                    </div>

                    <small>{{ register_form.salary.help_text }}</small>

                    {% if register_form.salary.errors %}
                    {% for error in register_form.salary.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-section">
                <h2>Sport Benefits</h2>

                <div class="form-row">
                    {% for sport_benefit in sport_benefits %}
                    <div class="form-info benefits-form">
                        <label for="sport_benefit" class="info-label benefit-label">{{ sport_benefit.name|capitalize_string }}</label>
                        <input type="checkbox" id="sport_benefit" name="sport_benefits" value="{{ sport_benefit.pk }}" {% if request.POST.sport_benefits %}{% for pk in selected_sport_benefits %}{% if pk == sport_benefit.pk|stringformat:'s' %}checked{% endif %}{% endfor %}{% elif employee and sport_benefit in employee.profile.contract.benefits.sport_benefits.all %}checked{% endif %}>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-section">
                <h2>Health Benefits</h2>

                <div class="form-row">
                    {% for health_benefit in health_benefits %}
                    <div class="form-info benefits-form">
                        <label for="health_benefit" class="info-label benefit-label">{{ health_benefit.name|capitalize_string }}</label>
                        <input type="checkbox" id="health_benefit" name="health_benefits" value="{{ health_benefit.pk }}" {% if request.POST.health_benefits %}{% for pk in selected_health_benefits %}{% if pk == health_benefit.pk|stringformat:'s' %}checked{% endif %}{% endfor %}{% elif employee and health_benefit in employee.profile.contract.benefits.health_benefits.all %}checked{% endif %}>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-section">
                <h2>Insurance Benefits</h2>

                <div class="form-row">
                    {% for insurance_benefit in insurance_benefits %}
                    <div class="form-info benefits-form">
                        <label for="insurance_benefit" class="info-label benefit-label">{{ insurance_benefit.name|capitalize_string }}</label>
                        <input type="checkbox" id="insurance_benefit" name="insurance_benefits" value="{{ insurance_benefit.pk }}" {% if request.POST.insurance_benefits %}{% for pk in selected_insurance_benefits %}{% if pk == insurance_benefit.pk|stringformat:'s' %}checked{% endif %}{% endfor %}{% elif employee and insurance_benefit in employee.profile.contract.benefits.insurance_benefits.all %}checked{% endif %}>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-section">
                <h2>Development Benefits</h2>

                <div class="form-row">
                    {% for development_benefit in development_benefits %}
                    <div class="form-info benefits-form">
                        <label for="development_benefit" class="info-label benefit-label">{{ development_benefit.name|capitalize_string }}</label>
                        <input type="checkbox" id="development_benefit" name="development_benefits" value="{{ development_benefit.pk }}" {% if request.POST.development_benefits %}{% for pk in selected_development_benefits %}{% if pk == development_benefit.pk|stringformat:'s' %}checked{% endif %}{% endfor %}{% elif employee and development_benefit in employee.profile.contract.benefits.development_benefits.all %}checked{% endif %}>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-section">
                <h2>Payment Details</h2>

                <div class="form-row">
                    <div class="form-info">
                        <label for="bank_name" class="info-label">Bank Name *</label>
                        <input type="text" id="bank_name" name="bank_name" placeholder="Bank Name" {% if register_form.bank_name.value %}value="{{ register_form.bank_name.value }}"{% elif employee and employee.banktransfer.bank_name %}value="{{ employee.banktransfer.bank_name }}"{% endif %}>
                    </div>

                    <small>{{ register_form.bank_name.help_text }}</small>

                    {% if register_form.bank_name.errors %}
                    {% for error in register_form.bank_name.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="iban" class="info-label">IBAN *</label>
                        <input type="text" id="iban" name="iban" placeholder="IBAN" {% if register_form.iban.value %}value="{{ register_form.iban.value }}"{% elif employee and employee.banktransfer.iban %}value="{{ employee.banktransfer.iban }}"{% endif %}>
                    </div>

                    <small>{{ register_form.iban.help_text }}</small>

                    {% if register_form.iban.errors %}
                    {% for error in register_form.iban.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="swift" class="info-label">SWIFT *</label>
                        <input type="text" id="swift" name="swift" placeholder="SWIFT" {% if register_form.swift.value %}value="{{ register_form.swift.value }}"{% elif employee and employee.banktransfer.swift %}value="{{ employee.banktransfer.swift }}"{% endif %}>
                    </div>

                    <small>{{ register_form.swift.help_text }}</small>

                    {% if register_form.swift.errors %}
                    {% for error in register_form.swift.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-row">
                    <div class="form-info">
                        <label for="account_number" class="info-label">Account Number *</label>
                        <input type="text" id="account_number" name="account_number" placeholder="Account Number" {% if register_form.account_number.value %}value="{{ register_form.account_number.value }}"{% elif employee and employee.banktransfer.account_number %}value="{{ employee.banktransfer.account_number }}"{% endif %}>
                    </div>

                    <small>{{ register_form.account_number.help_text }}</small>

                    {% if register_form.account_number.errors %}
                    {% for error in register_form.account_number.errors %}
                    <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>

            <div class="form-button">
                <a href="{% url 'employees' %}">
                    <button type="button" class="btn btn-submit-btn">Back</button>
                </a>

                {% if 'register-employee' in request.GET %}
                <button type="submit" class="btn btn-submit-btn" name="register-employee">Save</button>
                {% elif 'update-employee' in request.GET %}
                <button type="submit" class="btn btn-submit-btn" name="update-employee">Save</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>